@page "/fetchdata"
@using MudBlazorPlayground.Shared.Components
@using MudBlazorPlayground.WASM.Domain;
@inject HttpClient Http

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (countries is not null)
{
    foreach(var country in countries)
    {
        <MudBlazorPlayground.WASM.Components.CountryCard Country="country"></MudBlazorPlayground.WASM.Components.CountryCard>
    }
}
else
{
    for(var i=0; i<20; i++)
    {
        <MudBlazorPlayground.WASM.Components.CountryCardSkeleton></MudBlazorPlayground.WASM.Components.CountryCardSkeleton>
    }
}

@code {
    private List<CountryFlag>? countries;

    protected override async Task OnInitializedAsync()
    {
        var forecastsArray = await Http.GetFromJsonAsync<CountryFlag[]>("country-by-flag.json");
        countries = forecastsArray!.ToList();
    }
}
