@page "/"
@inject ISnackbar Snackbar

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<MudButton Color="Color.Error" @onclick="@(() => Snackbar.Add("Reactor meltdown is imminent", Severity.Error))">Create an error</MudButton>
